/* стили для корневого index.html */
/* Сейчас эти стили не используются */
/* По сути это бэкап перед сжатием */


*{box-sizing:border-box;margin:0;padding:0}
html, body {
  height: 100%;
  background: #e5e5e5;
  margin: 0;
  padding: 0;
  transition: background-color 0.7s ease-out;
}

body.invert{background: #000;}

/* Класс для Desktop */
.fswrap{
  position:fixed;
  inset:0;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:1000;
}

.btnsWrap{
  display:flex;
  flex-wrap:wrap;           
  gap:16px;
  width: min(90vw, 700px);
  height: min(90vh, 680px);
  align-content:center;
  justify-content: space-between; 
  padding:20px;
  background:transparent;
}

/* Класс для Mobile */
.fswrapMobile{
  position: fixed;

  top: env(safe-area-inset-top, 0);
  left: env(safe-area-inset-left, 0);
  right: env(safe-area-inset-right, 0);
  bottom: env(safe-area-inset-bottom, 0);
  
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.btnsWrapMobile{
  padding: env(safe-area-inset-top, 12px)
           env(safe-area-inset-right, 12px)
           env(safe-area-inset-bottom, 12px)
           env(safe-area-inset-left, 12px);

  display:flex;
  flex-wrap:wrap;
  gap:16px;
  justify-content: space-between;
  background:transparent;
}


.btnsWrap button,
.btnsWrapMobile button{
  flex: 0 0 auto;  
  display:inline-flex;
  align-items:center;
  justify-content:center;
  padding:12px 12px;
  font-size:1.25rem;
  color: gray;
  background: rgba(0,0,0,0.0);
  border: 0;
  cursor:pointer;
  transition: opacity .6s ease, transform .45s cubic-bezier(.2,.9,.2,1), color .6s ease;
  will-change: opacity, transform;
  z-index: 99;

  -webkit-user-select: none;
  user-select: none;

}

/* Общее для всех */
.btnsWrap button[data-st="lock"],
.btnsWrapMobile button[data-st="lock"] {
  color: rgba(70,70,70,1.0);
}

/* 3. ЭФФЕКТЫ ТОЛЬКО ДЛЯ ПК (с мышкой) */
@media (hover: hover) {
  .btnsWrap button:not([data-st="lock"]):hover,
  .btnsWrapMobile button:not([data-st="lock"]):hover {
    opacity: .5;
  }

  .btnsWrap button[data-st="lock"] {
    cursor: grab;
  }

  .btnsWrap button[data-st="lock"]:active {
    cursor: grabbing;
    transform: scale(0.99); 
    color: rgba(50,50,50,1.0); 
  }
}

/* Both Buttons */
.btnsWrap button.bb,
.btnsWrapMobile button.bb {
  cursor: default;
  pointer-events: none;
  transition: color 0.6s ease;
  color: #9b9b9b;
}

.btnsWrap button.bb.bLock,
.btnsWrapMobile button.bb.bLock {
  color: rgba(70,70,70,1.0);
}


/* Dark Buttons */
.btnsWrap button.bd,
.btnsWrapMobile button.bd {
  cursor: default;
  pointer-events: none;
  transition: opacity .6s ease, 
              transform .45s cubic-bezier(.2,.9,.2,1), 
              color 0.6s ease; /* дефолтный изинг */
  color: rgba(128, 128, 128, 0); 
}

.btnsWrap button.bd.dOpen,
.btnsWrapMobile button.bd.dOpen {
  pointer-events: auto;
  cursor: pointer;
  transition: opacity .6s ease, 
              transform .45s cubic-bezier(.2,.9,.2,1), 
              color 0.9s ease-out;

  color: rgba(128, 128, 128, 1); 
}

/* White Buttons */
.btnsWrap button.bw,
.btnsWrapMobile button.bw {
  pointer-events: none;
  transition: opacity .6s ease, 
              transform .45s cubic-bezier(.2,.9,.2,1), 
              color 0.6s ease; /* дефолтный изинг */
  color: #9b9b9b;
}

.btnsWrap button.bw.wLock,
.btnsWrapMobile button.bw.wLock {
  pointer-events: auto;
  transition: opacity .6s ease, 
              transform .45s cubic-bezier(.2,.9,.2,1), 
              color 0.6s ease;
  color: rgba(70,70,70,1.0);
}



.hidden-btn{
  opacity: 0 !important;
  pointer-events: none !important;
}

/* маленькие устройства — уменьшаем отступ и шрифт */
@media (max-width:420px){
  .btnsWrap,
  .btnsWrapMobile {
    gap:10px;
    padding:12px;
  }

  .btnsWrap button,
  .btnsWrapMobile button{
    padding:10px 14px;
    font-size:1rem;
  }
}

/* 5. HEART SPRITE */
.h_icon { display: block; margin: 5px auto 0; width: 88px; height: 42px; }
.h_sprite {
  background: url("/content/heart_sprite.png") no-repeat 0 0;
  background-size: 100% auto;
  transition: background-position 0.4s steps(19);
  will-change: background-position;
}
.h_sprite svg { display: none; }
.h_sprite.complete { background-position: 0 100%; }