---
---
body { background-color: #000 !important; color: #fff !important; }
table { border: 1px solid #444; border-collapse: collapse; margin: 20px 0; }
th, td { border: 1px solid #444; padding: 10px; }
a { color: #4da6ff; }
